
body {
  margin: 0;
  padding: 0;
  display: block;
}

h1{
  text-align: center;
}

.image{
  border-radius: 50%;
  width:200px;
  height:200px;
}

.outer{
  display:flex;
  gap:10px;
  margin:0;
 justify-content:flex-start;
 align-items: flex-start;
 flex-wrap: wrap; 
 width:100%;

 
}


.inner{
  display:flex;
  flex-direction: column;
  border:1px solid gray;
  text-align: center;
  padding:30px;
}